@page "/welcome"

<PageTitle>Welcome</PageTitle>

<h1>Bem-vindo!</h1>

<p>Esta é a nova página Welcome criada no ramo <strong>feature/NewPage</strong> do exercicio 4.</p>

<p>Página que no futuro pode ser usada para uma msg de welcome, um about ou uma apresentação</p>

